.header {
  padding: 0 32px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  background: var(--color-background-second-dark);
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header-contacts {
  text-align: center;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-button {
  color: #fff;
  font-size: 24px;
}
