@import "./variables.css";

.main-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.main-title {
  text-align: center;
  color: var(--color-primary);
}

.main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .main-info {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
}

.main-info-text {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: var(--color-background);
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  color: #fff;
  padding: 100px 32px;
  font-size: 24px;
  line-height: 180%;
}

.main-list {
  background-image: linear-gradient(
    120deg,
    var(--color-background) 30%,
    var(--color-third)
  );
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}
