<footer>
  <div class="footer-contacts">
    <span>ИП ЛИСИЦЫНА</span>
    <span>ИНН: 482414472042</span>
    <span>Адрес: Россия, Брянская область, Брянский район, п/о Нетьинка</span>
  </div>
  <div class="flex-spacer footer-info">
    <span> © 2025. Официальный сайт детского лагеря «Елочка» </span>
    <a href="https://yandex.ru/maps/-/CHfKY85B" class="footer-map-link">Яндекс карты</a>
  </div>
  <div class="footer-contacts">
    <span>e-mail: lager-elochka.ru@mail.ru</span>
    <span>Зам. директор (980)-315-93-33 (900)-373-57-70</span>
    <span>Администратор (996)-448-16-49</span>
  </div>
</footer>
