<header class="header">
  <div class="header-left">
    <a href="/">@@include('logo.html', { height: '80px' })</a>
  </div>
  <div class="flex-spacer"></div>
  <div class="header-contacts">
    <!-- <span class="header-contacts--phone">34-34-34</span> -->
    <!-- <span class="header-contacts--email">elochka@mail.ru</span> -->
  </div>
  <!-- prettier-ignore -->
  <!-- @@include('button.html', { id: 'main-button', class: 'desktop-button', text: 'Главная' }) -->
  @@include('button.html', { id: 'parents-button', class: 'desktop-button',
  text: 'Родителям' })
  <a
    id="info-button"
    href="documents.html"
    title="Документы"
    class="button desktop-button"
  >
    Документы
  </a>
  <div id="menu-button" class="mobile-button">---</div>
</header>
